<header class="header">
    <div class="container">
        <h1 class="logo">Projetos Dinâmicos</h1>
        <nav class="nav">
            <label for="page-dashboard" class="nav-link">Dashboard</label>
            <label for="page-mapa" class="nav-link">Mapa Visual</label>
            <label for="page-relatorio" class="nav-link">Relatórios</label>
            <a href="https://wa.me/5514981305888?text=Olá, preciso de suporte no Projetos Dinamicos." target="_blank" class="nav-link" title="Suporte">Suporte</a>
            
            <button id="themeBtn" class="theme-btn" title="Alternar tema">🌓</button>
        </nav>
    </div>
</header>